*{
    margin: 0;
    padding: 0;
    font-family: "PingFangTC-Medium", sans-serif;
    color: #2EB738;
    list-style: none;
}
.container{
    width: 1110px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #F0F0F0;
    padding: 80px 85px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    .card{
        box-sizing: border-box;
        width: 350px;
        height: 366px;
        background-color: #fff;
        border-radius: 100px 0 30px 0;
        margin-bottom: 40px;
        box-shadow: 0 3px 10px #D8D8D8;
        margin-left: 30px;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;

        &:nth-child(4){
            margin-left: 0;
        }
        &:nth-child(7){
            margin-left: 0;
        }
        h3{
            display: inline-block;
            width: 71px;
            font-size: 128px;
            margin-left: 61px;
            margin-top: 34px;
            text-shadow: 4px 3px 0 #F0F0F0;
        }
        li{
            display: inline-block;
            text-align: left;
            font-size: 24px;
            margin-left: 40px;
            margin-bottom: 8px;
            &:nth-child(5){
                margin-top: 85px;
            }
        }
    }
    
    .first{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 350px;
        height: 366px;
        .txt{
            text-align: center;
            position: relative;
            .title{
                font-size: 56px;
            }
            p{
                font-size: 24px;
            }
        }
        &:before{
            content: '';
            width: 80%;
            height: 1px;
            background-color: #2EB738;
            position: absolute;
            top: 10px;
            left: 10%;
        }
        &:after{
            content: '';
            width: 80%;
            height: 1px;
            background-color: #2EB738;
            position: absolute;
            bottom: 10px;
            left: 10%;
        }
    }
    .footer{
        width: 100%;
        height: 34px;
        background-color: #2EB738;
        color: #fff;
        text-align: end;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

